factory_boy

fakeredis

freezegun

httpretty

hypothesis

ilock

isodate

joserfc

jsonschema

mock_django

moto

pyfakefs

pytest

pytest-django

pytest-env

pytest-mock

pytest-testmon

pytest-randomly

pytest-xdist

responses
